html {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  background:
    radial-gradient(circle at 20% 20%, #90E6FC, transparent 60%),
    radial-gradient(circle at 90% 10%, #A8EEFF, transparent 60%),
    linear-gradient(135deg, #F5FBFF 0%, #EAF6FF 100%);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: transparent;
}

.main-content {
  width: 100%;
  max-width: 1200px;   /* Limits width on desktops */
  margin: 0 auto;      /* Centers the content */
  padding: 20px;
  padding-bottom: 110px;
  box-sizing: border-box;
}